<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<div class="row">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Travel Social</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div style="height: 100vh; margin-top: 100px;" class="pt-5" >
    <div style="width: 500px" class="card m-auto p-5">
        <h3 class="text-center">TẠO BÀI VIẾT</h3>
        <form  th:action="@{/place/create}" method="post" th:object="${placeDto}" enctype="multipart/form-data">
            <div class="form-group mt-3">
                <label >Tiêu đề </label>
                <input type="text" class="form-control" th:field="*{name}">
            </div>
            <div class="form-group">
                        <select th:field="*{citId}">
                            <option th:value="0" selected>   -- Thành Phố --</option>
                            <option th:each="r : ${cities}" th:value="${r.mtp}" th:text="${r.name}"></option>
                        </select>
                <select th:field="*{districtId}">
                    <option th:value="0" selected>   -- Quận -- </option>
                    <option th:each="r : ${districts}" th:value="${r.maqh}" th:text="${r.name}" ></option>
                </select>

            </div>
            <div class="form-group">
                <label >Link ảnh </label>
                <input type="text" class="form-control" th:field="*{imageUrl}">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success form-control">
            </div>
        </form>
    </div>
</div>



<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
</footer>
</body>

</html>